<div class="column is-one-quarter">
    <nav class="panel">
    <p class="panel-heading">Tendances</p>
    <a class="panel-block">
        Mbappé
    </a>
    <a class="panel-block">
        TayC
    </a>
    <a class="panel-block">
        The Quarry
    </a>
    <a class="panel-block">
        Catastrophique
    </a>
    </nav>
</div>