<div class="column">
    <nav class="panel">
        <p class="panel-heading">Suggestions</p>
    </nav>
    <div class="panel-block">
        <article class="media">
        <figure class="media-left">
            <p class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/64x64.png"</img>
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <strong>No Context Dr.Umar</strong>
                <small>@nocontextdrumar</small>
    </div>
        </article>
    </div>
    <div class="panel-block">
        <article class="media">
        <figure class="media-left">
            <p class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/64x64.png"</img>
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <strong>STREET FIGHTER</strong>
                <small>@streetfighter</small>
    </div>
</div>